@import "tailwindcss";

/* Make body scrollable, not inner divs */
html, body {
  height: 100%;
  background-color: #0000;
  margin: 0;
  overflow-y: auto; /* body handles scrolling */
  -webkit-overflow-scrolling: touch; /* smooth scrolling for iOS */
}

/* Hide scrollbars */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
